@import "../../vars.css";

.container{
    position: relative;
    display: flex;
    background: rgba(12,12,12, 0.6);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
    margin-top: 129px;
    padding: 73px;
    z-index: 1;
    color: var(--color-text);
}

.aboutTitle{
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 1.75px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aboutImage{
    width: 35%;
}

.aboutItems{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutItem{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 25px;
    list-style: none;
    background-image: linear-gradient(
        90deg,
        rgba(165, 215, 232, 0.42) 0%,
        rgba(255, 255, 255, 0) 100%
    );
    align-items: center;
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.aboutItem:hover{
    background-size: 100% 100%;
}

.aboutItem h3{
    font-size: 25px;
    font-weight: 600;
}

.aboutItem p{
    font-size: 25px;   
}

@media screen and (max-width: 830px) {
    .container{
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }

    .content{
        flex-direction: column;
    }

    .aboutImage{
        display: none;
    }

    .aboutItems{
        margin-top: 29px;
    }

    .aboutItem{
        padding-left: 0;
        padding-right: 0;
    }
}